global
  log stdout format raw local0

defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client 35s
  timeout server 35s

frontend riffdb_ingress
  bind *:8443
  default_backend riffdb_application

backend riffdb_application
  server riffdb riffdbd:7443 check
